BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: All
AccessModifierOffset: 0
IndentAccessModifiers: true
DerivePointerAlignment: false
PointerAlignment: Middle
SpaceAroundPointerQualifiers: Both
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
AlignAfterOpenBracket: DontAlign
